.profile {

    width:200px;
    height:200px;
    border-radius:100px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    border: 2px solid azure;

}

.button {

    background-color: #3c7a90; /* Green */
    border: none;
    color: azure;
    font-family: "JetBrains Mono";
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin-left: 132px;
    margin-right: auto;
    margin-left: 4%;
    width: 25%;
    margin-right: 4%;
    border-radius: 5px;

}

.button:hover {

    background-color: #2f6072; /* Green */

}

h1 {

    display: inline-block;
    width:fit-content;

}

#header {

    text-align: center;
    font-family: "JetBrains Mono";
    vertical-align: top;
    background-color:#121212;
    color: azure;

}


#nav {

    padding:10px;
    margin-bottom:5px;

}

body {

    margin:0px;
    background-color:#332f37;

}

html {

    background-color:#121212;

}

h2, h3 {

    font-family: "JetBrains Mono";
    font-size: 25px;
    color: azure;

}

.centertext {

    text-align:center;

}

#center {

    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

#bio {

    color:#3c7a90;

}

p {

    font-family: "JetBrains Mono";
    font-size: 16px;
    color: azure;
    word-wrap: normal;

}

#bigtitle {

    text-align:center;
    color:#3c7a90;

}

#school, #hobbies {

    text-align: center;
    width: 80%;
    padding-left: 10%;

}

a {

    color:aquamarine;
    font-family: "JetBrains Mono";

}

ol, ul {

    color:aquamarine;
    font-family: "JetBrains Mono";
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 50%;
    

}

.hide {
    display: none;
}

#footer {

    text-align: center;
    margin-left: auto;
    margin-right: auto;

}